* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.navbar-brand img {
    width: 150px;
}

.movie-poster {
    height: 250px;
}

.movie-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-body-tertiary {}

.review-author-avatar img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.news-card:hover {
    transform: scale(1.02);
}

.news-card img {
    border-radius: 8px;
}

.footer {
    background: #181818;
    color: white;
    padding: 30px 0;
}

.footer a {
    color: #bbb;
    text-decoration: none;
}

.footer a:hover {
    color: white;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: white;
}