* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.navbar-brand img {
    width: 150px;
}

.movie-poster {
    height: 250px;
}

.movie-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-body-tertiary {}

.review-author-avatar img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}